/* You can add global styles to this file, and also import other style files */
@import "../../style.scss";

$lightCheck: rgb(255, 255, 255);
$darkCheck: #e4e4e4;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
  background-color: $lightCheck;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height: 100%;
}

.button {
  display: block;
  appearance: none;
  background: #c9f7bb;
  border: none;
  border-radius: 5px;
  color: #2e2e2e;
  padding: 20px;
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
}

.github {
  display: block;
  color: #dadada;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-top: 3em;
}

.output {
  display: flex;
  flex-flow: row nowrap;
  color: #000000;
  margin: 4px;
  background: #ffffff;
  align-content: stretch;

  label {
    background: #ffffff;
    padding: 4px 8px;
  }
  output {
    background: #ffffff;
    padding: 4px;
  }
}

.nested-scroll {
  height: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font: 400 1.5em/1.2 Graphik, 'Helvetica Neue', Helvetica, sans-serif;
  color: #262626;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  overflow: hidden;
}
main > section {
  border-bottom: 1px solid #e8eef1;
}
img {
  /* max-width: 100%; unproportional image scaling in IE */
  border: 0;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.icon-svg.yellow {
  background-color: #f5cc02;
}
.icon-svg.grey {
  background-color: #f1f5f7;
}
.icon-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.icon-circle.yellow {
  background-color: #f5cc02;
}
.icon-circle.grey {
  background-color: #f1f5f7;
}
a {
  color: #262626;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:focus {
  color: #11a63d;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a.right-arrow {
  font-size: 1.8rem;
  font-weight: 500;
}
a.right-arrow:after {
  content: '';
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-right%22%20fill%3D%22%23262626%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.7%2016.7C10.3%2017.1%209.7%2017.1%209.3%2016.7%208.9%2016.3%208.9%2015.8%209.2%2015.4L9.3%2015.3%2012.6%2012%209.3%208.7C8.9%208.3%208.9%207.8%209.2%207.4L9.3%207.3C9.7%206.9%2010.2%206.9%2010.6%207.2L10.7%207.3%2014.7%2011.3C15.1%2011.7%2015.1%2012.2%2014.8%2012.6L14.7%2012.7%2010.7%2016.7Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  transition: margin-left 150ms ease-in-out;
}
a.right-arrow:hover:after,
a.right-arrow:focus:after {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-right%22%20fill%3D%22%2311a63d%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.7%2016.7C10.3%2017.1%209.7%2017.1%209.3%2016.7%208.9%2016.3%208.9%2015.8%209.2%2015.4L9.3%2015.3%2012.6%2012%209.3%208.7C8.9%208.3%208.9%207.8%209.2%207.4L9.3%207.3C9.7%206.9%2010.2%206.9%2010.6%207.2L10.7%207.3%2014.7%2011.3C15.1%2011.7%2015.1%2012.2%2014.8%2012.6L14.7%2012.7%2010.7%2016.7Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
  margin-left: 15px;
}
a.white {
  color: #ffffff;
}
a.white.right-arrow:after {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-right%22%20fill%3D%22%23ffffff%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.7%2016.7C10.3%2017.1%209.7%2017.1%209.3%2016.7%208.9%2016.3%208.9%2015.8%209.2%2015.4L9.3%2015.3%2012.6%2012%209.3%208.7C8.9%208.3%208.9%207.8%209.2%207.4L9.3%207.3C9.7%206.9%2010.2%206.9%2010.6%207.2L10.7%207.3%2014.7%2011.3C15.1%2011.7%2015.1%2012.2%2014.8%2012.6L14.7%2012.7%2010.7%2016.7Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
}
a.white:hover,
a.white:focus {
  text-decoration: none;
}
a.green {
  color: #11a63d;
}
a.green.right-arrow:after {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-right%22%20fill%3D%22%2311a63d%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.7%2016.7C10.3%2017.1%209.7%2017.1%209.3%2016.7%208.9%2016.3%208.9%2015.8%209.2%2015.4L9.3%2015.3%2012.6%2012%209.3%208.7C8.9%208.3%208.9%207.8%209.2%207.4L9.3%207.3C9.7%206.9%2010.2%206.9%2010.6%207.2L10.7%207.3%2014.7%2011.3C15.1%2011.7%2015.1%2012.2%2014.8%2012.6L14.7%2012.7%2010.7%2016.7Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
}
a.green:hover,
a.green:focus {
  text-decoration: none;
}
.p-20 {
  padding: 20px;
}
.p-t-20,
.p-y-20 {
  padding-top: 20px;
}
.p-b-20,
.p-y-20 {
  padding-bottom: 20px;
}
.p-40 {
  padding: 40px;
}
.p-t-40,
.p-y-40 {
  padding-top: 40px;
}
.p-b-40,
.p-y-40 {
  padding-bottom: 40px;
}
.m-0 {
  margin: 0;
}
/* ADD THIS */
.m-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ADD THIS */
@media (min-width: 992px) {
  .p-t-0-md,
  .p-y-0-md {
    padding-top: 0;
  }
  .p-b-0-md,
  .p-y-0-md {
    padding-bottom: 0;
  }
  .p-60 {
    padding: 60px;
  }
  .p-t-60-md,
  .p-y-60-md {
    padding-top: 60px;
  }
  .p-b-60-md,
  .p-y-60-md {
    padding-bottom: 60px;
  }
}
.btn {
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  font-size: 1.6rem;
  position: relative;
  transition: background-color 200ms ease, color 200ms ease;
  font-weight: 500;
  background-color: #11a63d;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn:hover:not(.disabled),
.btn:focus:not(.disabled) {
  background-color: #008427;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn:hover:not(.disabled) .icon-svg > svg,
.btn:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .btn {
    height: 75px;
    font-size: 1.9rem;
  }
}
.btn.btn-medium {
  height: 60px;
  padding: 0 20px;
  font-size: 1.9rem;
  white-space: nowrap;
}
.btn.btn-small {
  height: 45px;
  padding: 0 20px;
  font-size: 1.4rem;
  white-space: nowrap;
}
.icon-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.icon-btn .icon-svg {
  display: flex;
}
.icon-btn .icon-svg .icon {
  fill: #262626;
}
.icon-btn .btn-label {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
}
.icon-btn.white {
  color: #ffffff;
  font-weight: 500;
}
.icon-btn.white .icon-svg .icon {
  fill: #ffffff;
}
.icon-btn:hover:not(.disabled) .icon-svg .icon,
.icon-btn:focus:not(.disabled) .icon-svg .icon {
  fill: #11a63d;
}
.icon-btn:hover:not(.disabled) .icon-svg.white,
.icon-btn:focus:not(.disabled) .icon-svg.white {
  fill: #ffffff;
}
.icon-btn:hover:not(.disabled).white,
.icon-btn:focus:not(.disabled).white {
  color: #e8eef1;
}
.icon-btn:hover:not(.disabled).white .icon-svg .icon,
.icon-btn:focus:not(.disabled).white .icon-svg .icon {
  fill: #11a63d;
}
.icon-btn:hover:not(.disabled) .btn-label,
.icon-btn:focus:not(.disabled) .btn-label {
  color: #11a63d;
}
.btn-container {
  margin: 40px 0 20px;
}
.btn-container .btn {
  margin: 0 20px 20px 0;
}
.btn-container .btn:last-of-type {
  margin-right: 0;
}
.btn--white {
  background-color: #ffffff;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--white .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--white:hover:not(.disabled),
.btn--white:focus:not(.disabled) {
  background-color: #f1f5f7;
  color: #262626;
  border: 2px solid transparent;
}
.btn--white:hover:not(.disabled) .icon-svg > svg,
.btn--white:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--ui-green {
  background-color: #11a63d;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--ui-green .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--ui-green:hover:not(.disabled),
.btn--ui-green:focus:not(.disabled) {
  background-color: #008427;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--ui-green:hover:not(.disabled) .icon-svg > svg,
.btn--ui-green:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
.btn--transparent {
  background-color: transparent;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--transparent .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--transparent:hover:not(.disabled),
.btn--transparent:focus:not(.disabled) {
  background-color: transparent;
  color: #11a63d;
  border: 2px solid transparent;
}
.btn--transparent:hover:not(.disabled) .icon-svg > svg,
.btn--transparent:focus:not(.disabled) .icon-svg > svg {
  fill: #11a63d;
}
.btn--transparent-white {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}
.btn--transparent-white .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--transparent-white:hover:not(.disabled),
.btn--transparent-white:focus:not(.disabled) {
  background-color: #f1f5f7;
  color: #262626;
  border: 2px solid #ffffff;
}
.btn--transparent-white:hover:not(.disabled) .icon-svg > svg,
.btn--transparent-white:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--transparent-black {
  background-color: transparent;
  color: #262626;
  border: 2px solid #262626;
  box-sizing: border-box;
}
.btn--transparent-black .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--transparent-black:hover:not(.disabled),
.btn--transparent-black:focus:not(.disabled) {
  background-color: #f1f5f7;
  color: #262626;
  // border: 2px solid #262626;
}
.button:hover,.button:focus{
  border:none;
}
.btn--transparent-black:hover:not(.disabled) .icon-svg > svg,
.btn--transparent-black:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--light-grey-1 {
  background-color: #f1f5f7;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--light-grey-1 .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--light-grey-1:hover:not(.disabled),
.btn--light-grey-1:focus:not(.disabled) {
  background-color: #e8eef1;
  color: #262626;
  border: 2px solid transparent;
}
.btn--light-grey-1:hover:not(.disabled) .icon-svg > svg,
.btn--light-grey-1:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--light-grey-2 {
  background-color: #e8eef1;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--light-grey-2 .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--light-grey-2:hover:not(.disabled),
.btn--light-grey-2:focus:not(.disabled) {
  background-color: #d6dae0;
  color: #262626;
  border: 2px solid transparent;
}
.btn--light-grey-2:hover:not(.disabled) .icon-svg > svg,
.btn--light-grey-2:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--white-green {
  background-color: #ffffff;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--white-green .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--white-green:hover:not(.disabled),
.btn--white-green:focus:not(.disabled) {
  background-color: #a0ceac;
  color: #262626;
  border: 2px solid transparent;
}
.btn--white-green:hover:not(.disabled) .icon-svg > svg,
.btn--white-green:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--medium-dark-green {
  background-color: #008427;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--medium-dark-green .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--medium-dark-green:hover:not(.disabled),
.btn--medium-dark-green:focus:not(.disabled) {
  background-color: #005d1f;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--medium-dark-green:hover:not(.disabled) .icon-svg > svg,
.btn--medium-dark-green:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
.btn--medium-light-green {
  background-color: #89d49f;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--medium-light-green .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--medium-light-green:hover:not(.disabled),
.btn--medium-light-green:focus:not(.disabled) {
  background-color: #008427;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--medium-light-green:hover:not(.disabled) .icon-svg > svg,
.btn--medium-light-green:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
.btn--white-yellow {
  background-color: #ffffff;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--white-yellow .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--white-yellow:hover:not(.disabled),
.btn--white-yellow:focus:not(.disabled) {
  background-color: #fdf4cc;
  color: #262626;
  border: 2px solid transparent;
}
.btn--white-yellow:hover:not(.disabled) .icon-svg > svg,
.btn--white-yellow:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--medium-dark-yellow {
  background-color: #e9ab00;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--medium-dark-yellow .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--medium-dark-yellow:hover:not(.disabled),
.btn--medium-dark-yellow:focus:not(.disabled) {
  background-color: #d68000;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--medium-dark-yellow:hover:not(.disabled) .icon-svg > svg,
.btn--medium-dark-yellow:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
.btn--medium-light-yellow {
  background-color: #fae580;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--medium-light-yellow .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--medium-light-yellow:hover:not(.disabled),
.btn--medium-light-yellow:focus:not(.disabled) {
  background-color: #e9ab00;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--medium-light-yellow:hover:not(.disabled) .icon-svg > svg,
.btn--medium-light-yellow:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
.btn--white-blue {
  background-color: #ffffff;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--white-blue .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--white-blue:hover:not(.disabled),
.btn--white-blue:focus:not(.disabled) {
  background-color: #d7f2fd;
  color: #262626;
  border: 2px solid transparent;
}
.btn--white-blue:hover:not(.disabled) .icon-svg > svg,
.btn--white-blue:focus:not(.disabled) .icon-svg > svg {
  fill: #262626;
}
.btn--medium-dark-blue {
  background-color: #0095ff;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--medium-dark-blue .icon-svg > svg {
  fill: #ffffff;
  margin-right: 10px;
}
.btn--medium-dark-blue:hover:not(.disabled),
.btn--medium-dark-blue:focus:not(.disabled) {
  background-color: #0060c6;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--medium-dark-blue:hover:not(.disabled) .icon-svg > svg,
.btn--medium-dark-blue:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
.btn--medium-light-blue {
  background-color: #9ddffb;
  color: #262626;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.btn--medium-light-blue .icon-svg > svg {
  fill: #262626;
  margin-right: 10px;
}
.btn--medium-light-blue:hover:not(.disabled),
.btn--medium-light-blue:focus:not(.disabled) {
  background-color: #0095ff;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn--medium-light-blue:hover:not(.disabled) .icon-svg > svg,
.btn--medium-light-blue:focus:not(.disabled) .icon-svg > svg {
  fill: #ffffff;
}
label {
  display: block;
  margin: 10px 0;
}
input {
  border: 0;
  border-bottom: 2px solid #262626;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-weight: 500;
}
.form-group {
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}
.grey-theme {
  background-color: #f1f5f7;
  color: #262626;
}
.grey-light-theme {
  background-color: #e8eef1;
  color: #262626;
}
.green-theme {
  background-color: #11a63d;
  color: #ffffff;
}
.green-dark-theme {
  background-color: #005d1f;
  color: #ffffff;
}
.yellow-theme {
  background-color: #f5cc02;
  color: #262626;
}
.blue-theme {
  background-color: #3bc0f8;
  color: #262626;
}
.reader {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#ada-nav-skip {
  width: 0;
  height: 0;
  overflow: hidden;
}
.skip-links {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
.skip-links:active,
.skip-links:focus {
  left: 110px;
  top: 10px;
  width: auto;
  height: auto;
  overflow: auto;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  z-index: 999;
  min-width: 130px;
  text-align: center;
  color: #15a4aa;
}
.hide,
.hide-small,
.show-medium,
.show-large {
  display: none;
}
.show-small {
  display: block;
}
.show-small.inline-block {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .hide-small.hide-medium,
  .hide-medium,
  .show-small {
    display: none;
  }
  .hide-small,
  .show-medium,
  .show-small.show-medium {
    display: block;
  }
  .hide-small.inline-block,
  .show-medium.inline-block,
  .show-small.show-medium.inline-block {
    display: inline-block;
  }
  .hide-small.inline,
  .show-medium.inline,
  .show-small.show-medium.inline {
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .hide-small.hide-large,
  .hide-medium.hide-large,
  .show-small,
  .show-medium,
  .show-small.show-medium,
  .hide-large {
    display: none;
  }
  .hide-medium,
  .show-large,
  .show-small.show-large,
  .show-medium.show-large {
    display: block;
  }
  .hide-medium.inline-block,
  .show-large.inline-block,
  .show-medium.show-large.inline-block {
    display: inline-block;
  }
  .hide-medium.inline,
  .show-large.inline,
  .show-small.show-large.inline,
  .show-medium.show-large.inline {
    display: inline;
  }
}
header.site-header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #ffffff;
}
header.site-header .container {
  display: block;
}
header.site-header .column-container {
  justify-content: space-between;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  header.site-header .column-container {
    padding: 40px;
    min-height: 120px;
  }
}
@media screen and (min-width: 992px) {
  header.site-header .column-container {
    min-height: 127px;
  }
}
nav.main-nav {
  /* START : Mobile Navigation nav.mobile-nav-open */
  /* END : Mobile Navigation nav.mobile-nav-open */
  /* START: Desktop only submenu slidein */
  /* END: Desktop submenu slidein */
  /* Submenu HIDE / show Hover */
}
nav.main-nav .navbar-logo {
  margin: 0;
  line-height: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: block;
}
nav.main-nav .nav-left {
  display: flex;
  align-items: center;
  min-width: 50%;
}
nav.main-nav .nav-primary-links {
  display: none;
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-primary-links {
    display: flex;
    align-items: center;
    position: relative;
  }
  nav.main-nav .nav-primary-links > li {
    padding: 0 20px;
  }
}
nav.main-nav .nav-secondary-links {
  display: none;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-secondary-links {
    display: flex;
    align-items: center;
    position: relative;
  }
  nav.main-nav .nav-secondary-links > li {
    margin: 0 20px;
  }
}
nav.main-nav .mobile-nav-hamburger {
  z-index: 2;
}
nav.main-nav .mobile-nav-hamburger .icon-burger {
  display: block;
}
nav.main-nav .mobile-nav-hamburger .icon-close {
  display: none;
}
nav.main-nav .mobile-nav-hamburger.close .icon-burger {
  display: none;
}
nav.main-nav .mobile-nav-hamburger.close .icon-close {
  display: block;
}
nav.main-nav .sub-menu-back {
  display: none;
}
nav.main-nav.mobile-nav-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
nav.main-nav.mobile-nav-open .nav-primary-links {
  display: block;
  position: absolute;
  top: 120px;
  left: 25px;
}
nav.main-nav.mobile-nav-open .nav-secondary-links {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
nav.main-nav.mobile-nav-open .nav-primary-links a.primary {
  font-size: 3.2rem;
}
nav.main-nav.mobile-nav-open .nav-primary-links > li.sub-menu-open a.primary {
  position: fixed;
  z-index: 9999;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
}
nav.main-nav.mobile-nav-open .nav-secondary-links {
  margin-bottom: 40px;
}
nav.main-nav.mobile-nav-open .nav-secondary-links > li {
  padding: 0 0 10px;
}
nav.main-nav.mobile-nav-open .nav-secondary-links > li button,
nav.main-nav.mobile-nav-open .nav-secondary-links > li a {
  font-weight: 500;
  font-size: 1.8rem;
}
@media screen and (min-width: 992px) {
  nav.main-nav.mobile-nav-open .nav-secondary-links > li button,
  nav.main-nav.mobile-nav-open .nav-secondary-links > li a {
    font-size: 1.4rem;
  }
}
nav.main-nav.mobile-nav-open .login-link {
  background-color: transparent;
  padding: 0;
  height: auto;
}
nav.main-nav.mobile-nav-open.sub-menu-open .sub-menu-back {
  display: block;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 9999;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 992px) {
  nav.main-nav .sub-menu-container {
    position: fixed;
    background-color: #ffffff;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(-25%);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }
}
@media screen and (min-width: 992px) {
  nav.main-nav.sub-menu-open .sub-menu-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 9;
    height: 100%;
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  nav.main-nav.sub-menu-open .sub-menu-container {
    width: 50%;
  }
}
nav.main-nav .sub-items-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 90px 25px 0;
  background-color: #ffffff;
  z-index: 999;
  /* transform: translateX(-20%); transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; */
}
@media screen and (min-width: 992px) {
  nav.main-nav .sub-items-container {
    z-index: 9;
    width: 60%;
    padding: 120px 60px 30px 120px;
    overflow: auto;
    background-color: transparent;
  }
}
@media screen and (min-width: 1200px) {
  nav.main-nav .sub-items-container {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  nav.main-nav .sub-items-container:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 127px;
    width: 60%;
    z-index: 9;
  }
}
@media screen and (min-width: 1200px) {
  nav.main-nav .sub-items-container:before {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  nav.main-nav.sub-menu-open .nav-hover-overlay {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 9;
  }
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-primary-links > li {
    position: relative;
  }
  nav.main-nav .nav-primary-links > li:before {
    content: "";
    z-index: 99;
    position: absolute;
    width: 70%;
    height: 3px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    background-color: #11a63d;
    border-radius: 2px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  nav.main-nav .nav-primary-links > li:hover:before {
    visibility: visible;
    transform: translateX(-50%) scaleX(1);
  }
}
nav.main-nav .nav-primary-links a.primary {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 20px;
  /*line-height: 2;*/
  font-weight: 600;
  z-index: 99;
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-primary-links a.primary {
    margin-bottom: 0;
  }
}
nav.main-nav .nav-primary-links li .sub-items-container {
  display: none;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container {
  display: block;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(0) {
  animation-delay: 0ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(1) {
  animation-delay: 100ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(2) {
  animation-delay: 200ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(3) {
  animation-delay: 300ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(4) {
  animation-delay: 400ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(5) {
  animation-delay: 500ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(6) {
  animation-delay: 600ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(7) {
  animation-delay: 700ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(8) {
  animation-delay: 800ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(9) {
  animation-delay: 900ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(10) {
  animation-delay: 1000ms;
}
nav.main-nav .nav-primary-links li.sub-menu-open .sub-items-container li:nth-child(11) {
  animation-delay: 1100ms;
}
nav.main-nav .nav-sub-items {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  display: inline-block;
  /* For animation ease */
}
nav.main-nav .nav-sub-items li.menu-item-detailed {
  margin: 0 0 40px;
}
nav.main-nav .nav-sub-items li.menu-item {
  margin: 0 0 30px;
}
nav.main-nav .nav-sub-items li.menu-item.additional-link {
  margin: 60px 0 0;
}
nav.main-nav .nav-sub-items li.menu-item.additional-link a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
}
nav.main-nav .nav-sub-items a {
  font-weight: 600;
  font-size: 1.8rem;
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-sub-items a {
    font-size: 2.4rem;
  }
}
nav.main-nav .nav-sub-items a .nav-item-label {
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 10px;
}
nav.main-nav .nav-sub-items a .nav-item-label.right-arrow:after {
  content: '';
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-right%22%20fill%3D%22%23262626%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.7%2016.7C10.3%2017.1%209.7%2017.1%209.3%2016.7%208.9%2016.3%208.9%2015.8%209.2%2015.4L9.3%2015.3%2012.6%2012%209.3%208.7C8.9%208.3%208.9%207.8%209.2%207.4L9.3%207.3C9.7%206.9%2010.2%206.9%2010.6%207.2L10.7%207.3%2014.7%2011.3C15.1%2011.7%2015.1%2012.2%2014.8%2012.6L14.7%2012.7%2010.7%2016.7Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  transition: margin-left 150ms ease-in-out;
}
nav.main-nav .nav-sub-items a .nav-item-description {
  display: block;
  font-size: 1.6rem;
  color: #6e6e6e;
  font-weight: normal;
  max-width: 400px;
}
nav.main-nav .nav-sub-items a:hover .nav-item-label.right-arrow:after {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-right%22%20fill%3D%22%2311a63d%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.7%2016.7C10.3%2017.1%209.7%2017.1%209.3%2016.7%208.9%2016.3%208.9%2015.8%209.2%2015.4L9.3%2015.3%2012.6%2012%209.3%208.7C8.9%208.3%208.9%207.8%209.2%207.4L9.3%207.3C9.7%206.9%2010.2%206.9%2010.6%207.2L10.7%207.3%2014.7%2011.3C15.1%2011.7%2015.1%2012.2%2014.8%2012.6L14.7%2012.7%2010.7%2016.7Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
  margin-left: 15px;
}
nav.main-nav .nav-sub-items a:hover .nav-item-description {
  color: #6e6e6e;
}
nav.main-nav .nav-secondary-links li {
  margin: 0 0 0 25px;
}
nav.main-nav .nav-secondary-links li:last-child {
  margin-right: 0;
}
nav.main-nav .nav-secondary-links .btn-close {
  position: fixed;
  top: 25px;
  right: 25px;
  padding: 10px;
  z-index: 2;
  background-color: #f1f5f7;
  border-radius: 50%;
}
nav.main-nav .nav-secondary-links .btn-close .icon-close {
  width: 32px;
  height: 32px;
}
nav.main-nav .nav-secondary-links .secondary-item {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 97;
}
nav.main-nav .nav-secondary-links .secondary-item.show-item {
  display: flex;
}
nav.main-nav .nav-secondary-links .secondary-item .container {
  display: flex;
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-secondary-links .secondary-item .column-container {
    padding: 0;
  }
}
nav.main-nav .nav-secondary-links .icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.main-nav .nav-item-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  float: left;
  margin-right: 35px;
  overflow: hidden;
}
nav.main-nav .nav-item-image img {
  max-width: 100%;
  height: auto;
}
nav.main-nav .nav-item-image.green {
  background-color: #11a63d;
}
nav.main-nav .nav-item-image.blue {
  background-color: #3bc0f8;
}
nav.main-nav .nav-item-image.grey {
  background-color: #9fa4aa;
}
nav.main-nav .nav-item-image.yellow {
  background-color: #f5cc02;
}
nav.main-nav .find-an-office .content-wrap {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
nav.main-nav .site-search .content-wrap {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}
nav.main-nav .nav-input {
  padding: 10px 50px 10px 0;
  font-size: 4.4rem;
}
@media screen and (min-width: 768px) {
  nav.main-nav .nav-input {
    font-size: 5.6rem;
  }
}
@media screen and (min-width: 992px) {
  nav.main-nav .nav-input {
    font-size: 4.4rem;
  }
}
@media screen and (min-width: 1200px) {
  nav.main-nav .nav-input {
    font-size: 5.6rem;
  }
}
nav.main-nav .btn-search {
  margin-left: -44px;
  width: 44px;
  height: 44px;
}
nav.main-nav .btn-search.icon-circle.grey:hover {
  background-color: #11a63d;
}
nav.main-nav .btn-search.icon-circle.grey:hover svg {
  fill: #ffffff;
}
nav.main-nav .quick-links h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #11a63d;
  margin-bottom: 20px;
}
nav.main-nav .quick-links ul.links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.main-nav .quick-links ul.links-list li {
  padding: 0;
  margin: 0 0 15px;
}
nav.main-nav .faqs-links ul.faq-list {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}
nav.main-nav .faqs-links ul.faq-list li {
  padding: 30px 0;
  margin: 0 0 15px;
  border-bottom: 1px solid #9fa4aa;
}
nav.main-nav .faqs-links ul.faq-list li a.question {
  font-size: 1.8rem;
  font-weight: 500;
}
nav.main-nav .faqs-links ul.faq-list li .faq-answer {
  display: none;
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 1.5;
}
nav.main-nav .key-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  z-index: -1;
}
nav.main-nav .key-only:active,
nav.main-nav .key-only:focus {
  position: relative;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20id%3D%22chevron-down%22%20fill%3D%22%23262626%22%3E%0D%0A%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7.3%209.3C7.7%208.9%208.2%208.9%208.6%209.2L8.7%209.3%2012%2012.6%2015.3%209.3C15.7%208.9%2016.2%208.9%2016.6%209.2L16.7%209.3C17.1%209.7%2017.1%2010.2%2016.8%2010.6L16.7%2010.7%2012.7%2014.7C12.3%2015.1%2011.8%2015.1%2011.4%2014.8L11.3%2014.7%207.3%2010.7C6.9%2010.3%206.9%209.7%207.3%209.3Z%22%2F%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E');
  background-size: 16px;
  z-index: 999;
}
.ui-autocomplete {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  position: fixed !important;
  z-index: 9999 !important;
  background-color: #ffffff;
  overflow-y: auto;
  height: 100vh;
}
.ui-autocomplete li {
  padding: 30px 0;
  margin: 0;
}
.ui-autocomplete li:not(:last-child) {
  border-bottom: 1px solid #9fa4aa;
}
.ui-autocomplete li a {
  font-size: 1.8rem;
  font-weight: 500;
}
.ui-autocomplete li a b {
  color: #11a63d;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}
section {
  position: relative;
}
@media screen and (min-width: 992px) {
  section .column-container.full-height {
    min-height: calc(100vh - 127px);
  }
  section .column-container.half-height {
    min-height: calc(50vh - 63.5px);
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  // max-width: 1560px;
  min-width: 320px;
  margin: 0 auto;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column-container .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .column-container .column {
    height: 100%;
  }
}
.column-container .column.align-left {
  align-items: flex-start;
}
.column-container .column.align-right {
  align-items: flex-end;
}
.column-container .column.align-center {
  align-items: center;
}
.column-container .column.justify-around {
  justify-content: space-around;
}
.column-container .column.justify-between {
  justify-content: space-between;
}
.column-container .column img.half-height-image {
  height: 48vh;
  max-width: 100%;
}
.column-container .column .bg-full-bleed {
  position: absolute;
  max-width: 50%;
}
.column-container .column img {
  max-width: 100%;
}
.column-container .column-double {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  overflow: auto;
}
@media screen and (min-width: 992px) {
  .column-container .column {
    flex: 1;
  }
  .column-container .column-double {
    flex: 2;
  }
}
.column-container.valign-center {
  align-items: center;
}
.content-wrap {
  padding: 25px;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .content-wrap {
    padding: 40px;
  }
}
@media screen and (min-width: 992px) {
  .content-wrap.content-left {
    padding: 0 60px 0 120px;
  }
}
@media screen and (min-width: 992px) {
  .content-wrap.content-right {
    padding: 0 120px 0 60px;
  }
}
.bg-full-bleed {
  display: inherit;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 0;
}
.bg-full-bleed.left {
  left: 0;
}
.bg-full-bleed.right {
  right: 0;
}
@media screen and (min-width: 992px) {
  .bg-full-bleed {
    position: absolute;
  }
}
[class*=flex] {
  display: flex;
}
.flex-center {
  -webkit-align-items: center;
  align-items: center;
}
.flex-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}
.flex-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-start {
  justify-content: flex-start;
}
/* ADD THIS */
.jc-end {
  justify-content: flex-end;
}
/* ADD THIS */
.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 992) {
  .flex-row-md {
    flex-direction: row;
  }
}
